* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* shared things */
.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

/* title style */


.navbar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    /* border: 2px solid red; */
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    /* ****trial***** */
    padding: 20px 50px;
}

.nav-brand-container {
    display: flex;
    width: 50%;
    /* border: 2px solid purple; */
    padding-left: 100px;
}

.nav-brand-container p {

    font-size: 2.8rem;
    font-weight: 700;
}

.nav-brand-container span {
    color: #FF42A5;
}

.nav-brand-container img {
    width: 110px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.nav-list-container {
    display: flex;
    justify-content: space-around;
    /* gap: 50px; */
    align-items: center;
    width: 50%;
    /* border: 2px solid red; */

}

.nav-list-container a {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
}

.active-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;
}

.nav-icon1,
.nav-icon2 {
    margin-left: 10px;
}

.nav-icon1 {
    color: red;
}

.nav-icon2 {
    color: black;
}

/* navbar style ends */


/* banner style */
.banner {
    /* border: 2px solid red; */
    min-height: 500px;
    max-width: 1400px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/Group\ 14.png");
    background-position: left;
    /* background-size: cover; */
    background-repeat: no-repeat;

}

.banner-content-container {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../images/Group\ 14.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

}

.banner-content-container h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-content-container h1 {
    font-size: 5.9rem;
    font-weight: 800;
}

.banner-content-container h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-content-container p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
}

.banner-content-container span i {
    color: #FF42A5;
    padding-right: 5px;
}

.banner-content-container .btn-primary {
    padding: 20px 40px;
    border-radius: 3rem;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    box-shadow: 4px 4px 5px gray;
    /* ****** */
    margin-bottom: 20px;
}

.btn1 {

    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn2 {

    background: #4EC5F7;
}

.banner-img-container {
    /* border: 2px solid purple; */
    width: 50%;
}

.banner-img-container img {
    width: 100%;
    height: 100%;
}


/* gamer section style */
.gamer {
    /* border: 3px solid red; */
    min-height: 500px;
    max-width: 1400px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-img-container {
    /* border: 3px solid green; */
    width: 50%;
}

.gamer-img-container img {
    width: 100%;
    height: 100%;
}

.gamer-content-container {
    /* border: 3px solid purple; */
    width: 50%;
    text-align: right;
    padding: 0 20px;
}

.gamer-content-container h2 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.gamer-content-container p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 10px 0 40px;
}

.gamer-content-container .gamer-btn {
    padding: 20px 40px;
    border-radius: 3rem;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    box-shadow: 4px 4px 5px gray;
    /* ****** */
    margin-bottom: 20px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}

.gamer-content-container .gamer-bottom-text
{
    font-size: 1.125rem;
    font-weight: 500;
    color: #534C64;
}

.gamer-content-container .gamer-bottom-text span 
{
    font-size: 1.5rem;
    font-weight: 700;
    color: #534C64;

}






/* online games */
.online-game {
    /* border: 2px solid red; */
    min-height: 500px;
    max-width: 1400px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
}

.online-game-heading-part-container {
    /* border: 2px solid green; */
    text-align: center;
}

.online-game-heading-part-container h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-heading-part-container h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.online-game-heading-part-container p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 10px 0 40px;
}

.online-game-cards-container {
    /* border:3px solid yellow ; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.online-game-card {
    /* border: 5px solid blue; */
    padding: 0 15px;
}

.online-game-card img {
    width: 100%;
}

.online-game-card p {
    text-align: justify;
    width: 90%;
}


.online-game-card-img {
    position: relative;
    display: inline-block;
}

.online-game-card-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.online-game-card-img:hover .overlay {
    opacity: 1;
    border-radius: 10px;

}

.overlay p {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.play-btn {
    color: #FFF;
}

.hover-icon .play-btn {
    font-size: 3rem;
}

.hover-icon .hover-text {
    font-size: 1.25rem;
    color: #F948B2;
    font-weight: 600;
}


/* play game anywhere section style */
.play-game {
    /* border: 3px solid red; */
    min-height: 500px;
    max-width: 1400px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* *****trial*** */
    gap: 50px;
}

.play-game-img-container {
    /* border: 2px solid purple; */
    width: 80%;
    /* *****trial**** */
    padding: 0 20px;
}

.play-game-img-container img {
    height: 100%;
    width: 80%;
}

/* parent box */
.play-game-lil-box {
    height: 350px;
    width: 100%;
    /* border: 5px solid black; */
    position: relative;
}

/* child */
.play-game-lil-box img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    right: 0px;
    bottom: 250px;

}

.play-game-content-container {
    /* border: 2px solid yellow; */
    width: 30%;
}

.play-game-content-container h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.play-game-content-container h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.play-game-content-container p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
    width: 80%;
}



/* play station section */
.play-station {
    /* border: 2px solid red; */
    min-height: 200px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* ****trial **** */
    padding: 10px 40px;

}

.single-game {

    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 4px 4px 5px gray;
}

.single-game:hover {
    border: 2px solid #FF42A5;
    transition: border 2s ease;
}

.single-game:hover p {
    color: #F948B2;
    transition: border 3s ease;
}

.single-game img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.single-game p {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}


/* footer style */
footer {
    /* border: 3px solid red; */
    min-height: 400px;
    max-width: 1400px;
    margin: 150px auto 0;
    background: #0B0223;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-brand-container p {
    font-size: 2rem;
    font-weight: 700;
}

.footer-brand-container span {
    color: #FF42A5;
}

.footer-brand-container img {
    width: 110px;
    height: 50px;
    object-fit: cover;
}

.about-items {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width:  100%;
    margin: 0 auto;
    padding: 40px 0 40px;
}

.about-items p {
    font-size: 1.125rem;
    font-weight: 600;
}

.about-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 70%;
    margin: 0 auto;
}

.about-icons a {
    color: white;
    font-size: 2rem;
}

.about-icons a:hover {
    color: #F948B2;
}

.about-more-text {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 0 auto;
    padding: 40px 0 5px;
}

.about-more-text p {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.about-copy-right {
    text-align: center;
}

.about-copy-right small {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}